.product {
    &__base {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid black;
        padding: 1.5rem;
        border-radius: .5rem;
        gap: 1rem;
    }

    &__name{
        font-weight: 400;
        font-size: 1.25rem;
    }

    &__currency{
        font-size: 1.1rem;
        font-weight: 300;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 600;
    }
}