.history-item {
    &__base {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        border: 1px solid black;
        padding: 2rem;
        border-radius: .5rem;
        gap: 1rem;

        @media (max-width: 576px){
            padding: 1rem;
        }
    }

    &__date {
        font-weight: 300;
    }

    &__line {
        display: flex;
        justify-content: flex-end;
        font-size: 1.75rem;
        font-weight: 700;
        gap: 1rem;
        width: 100%;
        
        @media (max-width: 576px){
            font-size: 1.25rem;
        }
    }
}

.history-table {
    &__base {
        overflow-x: auto;
        width: 100%;
        // UX
        @media (max-width: 576px){
            width: calc(100% + 2rem);
            padding: 0 1rem;
            margin-left: -1rem;
        }
    }
    
    &__table {
        border-collapse: collapse;
        border-radius: .5rem;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    &__tr {
        height: 3.75rem;
    }
    
    &__th {
        font-size: 1rem;
        border-bottom: 1px solid black;
        padding: 0 1rem;
        font-weight: 700;
    }

    &__td {
        font-size: 1rem;
        font-weight: 300;
        color: black;
        padding: 0 1rem;
    }
}