.shopping-cart {
    &__background {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(16, 16, 16, 0.9);
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__aside {
        background-color: white;
        width: 20rem;
        position: absolute;
        right: 0;
        height: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
        transition: transform 0.3s ease;

        @media only screen and (min-width: 576px) {
            width: 30rem;
        }

        &--hidden {
            transform: translateX(100%);
        }
    }

    &__title {
        font-weight: 600;
        text-align: center;
    }

    &__itens {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__hr {
        margin: 1rem 0;
        height: 1px;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__button {
        border: none;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        padding: 1rem 1.5rem;
        gap: 1rem;
        background-color: transparent;
        border-radius: 1rem;
        background-color: black;
        color: white;
        transition: 0.2s;
        cursor: pointer;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;

        &:disabled {
            opacity: 0.3;
            cursor: progress;
            background-color: black!important;
        }
        
        &:hover {
            background-color:#404040;
        }
    }

    &__close {
        padding: 0;
        background: none;
        border: none;
        font-size: 3rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        transition: 0.2s;
        
        &:hover{
            color:#404040;
        }

        @media only screen and (max-width: 576px) {
            font-size: 2.5rem;
        }
    }
}