.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media only screen and (max-width: 992px){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__logo {
        font-size: 1.75rem;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
    }

    &__right {
        display: flex;
        gap: 1rem;

        @media (max-width: 992px){
            button {
                display: none;
            }
        }
    }

    &__left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &--mobile {
        display: none;
        gap: 1rem;
        
        @media (max-width: 992px){
            display: flex;
        }
        
        button {
            font-size: 0;
        }

        svg {
            font-size: 1rem;
        }

    }
}

.header-info {
    &__base {
        display: inline-flex;
        align-items: center;
        padding: .5rem .75rem;
        background-color: transparent;
        color: black;
        justify-content: center;

        @media (max-width: 992px){
            padding: 0;
        }
    }

    &__value {
        display: inline-block;
        padding: .25rem .5rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1rem;
        white-space: nowrap;
    }
}